@import "node_modules/ol/ol.css";

* {
  font-family: "Golos Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Controls */
.locate {
  top: 6em;
  left: .5em;
}
.overlay-control {
  top: 9em;
  left: .5em;
}
.overlay-control .level1button,
.overlay-control .level0button,
.overlay-control .levelm1button {
  position: relative;
  z-index: 1;
}
.overlay-control .level1button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.overlay-control .level0button {
  border-radius: 0 0 0 0;
}
.overlay-control .levelm1button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.overlay-control .active-button {
  background-color: lightgrey;
  box-shadow: 0 0 0 2px rgb(20, 20, 20, 1);
  border-radius: 1.5px;
  border-width: 1px;
  border-color: rgb(20, 20, 20, 1);
  border-style: solid;
  z-index: 2;
  color: black;
}

/* Search */
.search-control {
  position: absolute;
  top: 0.5em;
  right: .5em;
  display: flex;
  align-items: center;
}
.search-control input {
  display: block;
  margin: 1px;
  margin-right: 0px;
  padding: 0;
  padding-left: 0.3em;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: left;
  height: 1.5em;
  width: 13em;
  line-height: .4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
  transition: height 0.3s, width 0.8s;
}
.search-control input:focus {
  height: 2em;
  width: 20em;
  transition: all 0.3s ease;
}
@media screen and (max-width: 600px) {
  .search-control input:focus {
    height: 2.5em;
    width: 80vw;
    transition: all 0.3s ease;
  }
  .search-control input {
    height: 2em;
    width: 45vw;
    transition: height 0.3s, width 0.8s;
  }
}

/* MapTiler Logo */
.maptiler-logo {
  position: absolute;
  bottom: .2em;
  left: .5em;
}
.maptiler-logo img {
  height: 2em;
  width: auto;
}
.maptiler-logo img:hover {
  cursor:  pointer;
}

/* Room Overlay */
#room-overlay {
  position: absolute;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(132, 132, 132);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(132, 132, 132, 0.3);
  padding-top: .3em;
  padding-bottom: .4em;
  padding-left: .5em;
  padding-right: .6em;
  width: 15em;
  font-size: 1em;
  color: white;
  pointer-events: none;
}
.room-overlay-header {
  font-weight: bold;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
.room-overlay-type {
  font-weight: 400;
  margin: 0;
  margin-top: .3em;
}
.room-overlay-teacher {
  font-weight: 400;
  margin: 0;
  margin-top: 1em;
}
.room-overlay-teacher ul {
  padding-left: 1.5em;
  margin: 0;
  margin-top: .3em;
}